#page-wrapper {
	margin-top: -22px;
	font-family: 'Raleway';
	text-align: center;
	height: 100vh;
	h1 {
		font-weight: 300;
	}
	#hud {
		
	}
	#game-screen {
		width: 672px;
		height: 480px;
		white-space: nowrap;
		margin: 0 auto;
		overflow: hidden;
		font-size: 0;
		#map {
			position: relative;
			.tile {
				display: inline-block;
				width: 32px;
				height: 32px;
			}
			.blank {
				background-color: lightgrey;
			}		
			.player {
				background-color: lightblue;
			}
			.wall {
				background-color: darkgray;
			}
			.enemy {
				background-color: lightpink;
			}
			.health {
				background-color: lightgreen;
			}
			.weapon {
				background-color: lightyellow;
			}
			.exit {
				background-color: blue;
			}
		}
	}
}